In [1]:
# Name: Jayanthi Challa
# Campus: VIT-AP
# Email: jayanthi.20mis7066@vitap.ac.in
# Reg.No.: 20MIS7066

In [2]:
# Task-1: Create a panas data frame (DataFrame name as 'df') with jumpy random values (4 features and 4 observation)

In [3]:
import pandas as pd
import numpy as np

np.random.seed(42)  # Set a random seed for reproducibility

data = np.random.randn(4, 4)  # Generate random values

df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])

In [4]:
# Task-2: Rename the above task 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 
#         'Random value 4'

In [5]:
import pandas as pd
import numpy as np

np.random.seed(42)  # Set a random seed for reproducibility

data = np.random.randn(4, 4)  # Generate random values

df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
df.rename(columns={'Feature 1': 'Random value 1', 'Feature 2': 'Random value 2',
                   'Feature 3': 'Random value 3', 'Feature 4': 'Random value 4'}, inplace=True)

In [6]:
# Task-3: Find the descriptive statistics of the 'df' dataframe

In [7]:
descriptive_stats = df.describe()
print(descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

In [8]:
# Task-4: Check for the null values in 'df' and find the data type of the columns

In [9]:
null_values = df.isnull().sum()
print(null_values)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [10]:
data_types = df.dtypes
print(data_types)

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [11]:
# Task-5: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [12]:
# Using the location method
random_value_2_3_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(random_value_2_3_loc)

# Using the index location method
random_value_2_3_iloc = df.iloc[:, [1, 2]]
print(random_value_2_3_iloc)

   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918